<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Identifiant de connexion">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Mot de passe">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block ">Connexion</button>
            <label class="item item-input" name="dlightVersionName">
                <span class="input-label">dlightVersion</span><textarea placeholder=""> Version : 1.4.0 - Build : 150 - Deveryware 2015</textarea>
            </label>
        </form>
    </ion-content>
</ion-view>